[Unit]
Description=Flower SuperNode 2 Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop supernode-2
ExecStartPre=-/usr/bin/docker rm supernode-2
ExecStart=/usr/bin/docker run \
  --rm \
  --name supernode-2 \
  --network flwr-network \
  -p 9095:9095 \
  {{ supernode_image }} \
  --insecure \
  --superlink superlink:9092 \
  --node-config "partition-id=1 num-partitions=2" \
  --clientappio-api-address 0.0.0.0:9095 \
  --isolation process

ExecStop=/usr/bin/docker stop supernode-2

[Install]
WantedBy=multi-user.target
